<div>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Todos list</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         <li class="nav-item">
           <a href="" class="nav-link active" routerLink="/about">About</a>
         </li>
        </ul>
      </div>
    </div>
 
  </nav>

 
  <!-- <app-todos></app-todos>
   -->
</div>

<router-outlet></router-outlet>